git-aggregator==2.1.0
ipython==8.7.0
pdfminer.six==20220319
pysnooper==1.1.1
ipdb==0.13.9
# Gestión de paquetes pip desde odoo project (#42696)
# git+https://github.com/adhoc-cicd/oca-openupgradelib.git@master
click-odoo-contrib==1.16.1
pg-activity==3.0.1
phonenumbers==8.13.1