## cloud platform, odoo y odoo saas
nltk==3.9.1
redis==5.2.1
google-api-python-client==2.159.0
# Gestión de paquetes pip desde odoo project (#42696)
# Odooly==2.1.9
PyGithub==2.5.0
git-aggregator==4.0.2
# TODO revisar si sigue siendo necesario
firebase-admin==6.6.0
transifex-python
# This is not longer needed because "dnspython3 has been superseded by the regular dnspython kit, which now supports both Python 2 and Python 3."
# dnspython3==1.15.0
google-cloud-storage==2.19.0
git+https://github.com/rancher/client-python.git@master
boto3==1.36.2
# for pg_activity
psycopg2-binary
## ingadhoc/website
html2text==2024.2.26
## ingadhoc/odoo-argentina
httplib2==0.22.0
# git+https://github.com/pysimplesoap/pysimplesoap@a330d9c4af1b007fe1436f979ff0b9f66613136e
git+https://github.com/pysimplesoap/pysimplesoap@py311
git+https://github.com/ingadhoc/pyafipws@py3k
# git+https://github.com/pysimplesoap/pysimplesoap@stable_py3k
# git+https://github.com/reingart/pyafipws@py3k
## ingadhoc/aeroo
# use this genshi version to fix error when, for eg, you send arguments like "date=True" check this  \https://genshi.edgewall.org/ticket/600
genshi==0.7.9
git+https://github.com/adhoc-dev/aeroolib@master-fix-ods
git+https://github.com/aeroo/currency2text.git
# mergebot requirements
Markdown==3.7
sentry-sdk==2.20.0
# requirement de base_report_to_printer
pycups==2.0.4
# date_range
odoo-test-helper==2.1.1
# varios
algoliasearch==4.12.0
# pycurl depends on libcurl4-openssl-dev and build-essential (can be removed after install)
pycurl==7.45.4
email-validator==2.2.0
# depends on unrar lib (manually installed)
unrar==0.4
mercadopago==2.2.3
# geoip
# odoo utiliza geoip2==2.9.0 pero como nosotros ya venimos con la 4.6 preferimos mantener
geoip2==4.8.1
# l10n_cl_edi y probablemente otros (la version la tomamos de runbot data)
pdf417gen==0.8.0
# 20230907 dib: requirement de shopify para sba (update version)
ShopifyApi==12.7.0
# requirements dashboard_ninja, ver dependencias tzdata, python-dateutil, numpy (#33029)
pandas==2.2.3
openpyxl==3.1.5
# requirement para test tours
websocket-client==1.8.0
# required by saas_k8s
kubernetes==31.0.0
# Requerimiento IA: 4 - Integrar el modelo en Odoo (#45793)
scikit-learn==1.6.1
# json logs #46062 (oca module - logging_json)
python-json-logger